@model List<string>
@{
    ViewData["Title"] = "Currency History";
}

<h1>@ViewData["Title"]</h1>
<div class="form-group">
    <label>Bir para birimi şeçiniz.</label>
    <select class="form-control col-12" id="selectedCurrency" onchange="changeCurrency()">
        <option value="-1">Lütfen seçiniz...</option>
        @foreach (var item in Model)
        {
            <option value="@item">@item</option>
        }
    </select>
</div>
<div id="history">
</div>

<script>
    function changeCurrency() {
        var selectedCurrrency = document.getElementById("selectedCurrency").value;
        if (selectedCurrrency || selectedCurrrency !== "" || selectedCurrrency !== "-1") {
            fetch("/Home/CurrencyHistory?code=" + selectedCurrrency, {
                method: 'GET'
            })
                .then(response => response.text())
                .then(res => {
                    var history = document.getElementById("history");
                    history.innerHTML = res
                }).catch(err => console.log(err))
        }
    }
</script>